/* .Container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Box-Title {
  display: flex;
  justify-content: center;
  padding: 3px;
  border-radius: 4px;
  margin: 40px 0 15px 0;
  border-width: 1px;
  background-color: aliceblue;
} */
